PORT=3000
SESSION_SECRET=Yojinn0031-Secret-Key

DB_HOST=localhost
DB_PORT=3306
DB_NAME=jay_footwear
DB_USER=jay_app
DB_PASSWORD=Yojinn0031

ADMIN_PASSWORD=Yojinn
CASHIER_PASSWORD=Cashier123!
OWNER_PASSWORD=Owner123!

EMAIL_USER=yowjin444@gmail.com
EMAIL_APP_PASSWORD=dcfs mexc llrp hium
BASE_URL=http://localhost:3000
